In [2]:
# import sqlite3 package
import sqlite3

In [3]:
# create a connection to a database : create the database if not available
connection = sqlite3.connect("Staging.db")
connection.close()

In [5]:
# open connection
connection = sqlite3.connect("Staging.db")
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom ( 
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20), 
                gender CHAR(1), 
                marks INTEGER
                );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

In [6]:
# sample data
classroom_data = [( 1, "Mike","M", 70),
                  ( 2, "Amy","F", 87),
                  ( 3, "Nik","M", 65),
                  ( 4, "Rahul","F", 83)]
# open connection
connection = sqlite3.connect("Staging.db")
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom 
                      (student_id, name, gender, marks)
                      VALUES 
                      ({0}, "{1}", "{2}", {3});""".format(student[0], student[1], student[2], 
                                                              student[3])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
# close the connection
connection.close()

In [7]:
# open connection
connection = sqlite3.connect("Staging.db")
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query) 
# fetch results
result = cursor.fetchall() 
# print results
for row in result:
    print(row)
    
# close connection
connection.close()

(1, 'Mike', 'M', 70)
(2, 'Amy', 'F', 87)
(3, 'Nik', 'M', 65)
(4, 'Rahul', 'F', 83)